/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #F5F7FA;
  color: #333;
}

.container {
  margin: auto;
  width: 70%;
  max-width: 1200px;
  padding: 40px;
  box-shadow: 0px 2px 6px 0px rgba(112, 123, 140, 0.16);
  background-color: #FFFFFF;
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
}

/* AceEditor Styles */
.ace_editor {
  width: 100% !important;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 2px 6px 0px rgba(112, 123, 140, 0.16);
}

/* Button Styles */
button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #0070F3;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0051a7;
}

button:disabled {
  background-color: #999999;
}

/* Suggestions Styles */
ul {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

li {
  margin-bottom: 10px;
}

/* Donation Section */
.donation-section {
  padding: 20px;
  background-color: #fafafa;
  margin-top: 30px;
  border-radius: 8px;
}

.donation-section h2 {
  color: #0070F3;
}

.donation-section p {
  color: #333;
}

.donation-section a img {
  height: 50px;
  width: 217px;
}

.loading {
  align-items: center;
}